.thread-card {
  background: var(--main-hover);
  display: flex;
  flex-direction: column;
  justify-content: start;
  transition-property: background, border;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
  padding: 6px 10px 0 10px;
  border-radius: 5px;
}

.thread-card:hover {
  cursor: pointer;
  background: var(--main-press);
}

.thread-open-resolved {
  border-left: 5px solid var(--green);
}

.thread-open-unresolved {
  border-left: 5px solid var(--amber);
}

.thread-closed-resolved {
  border-left: 5px solid var(--main-hover);
}

.thread-closed-resolved:hover {
  border-left: 5px solid var(--main-press);
}

.thread-closed-unresolved {
  border-left: 5px solid var(--red);
}

.thread-head {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.thread-head * {
  opacity: 0.75;
}

.thread-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 5px 0 0;
  font-weight: 500;
}

.thread-title {
  min-height: 32px;
}
