.solid-btn {
  font-size: inherit;
  padding: 4px 12px 7px 12px;
  text-align: center;
  background: none;
  transition: background ease-in 0.15s;
}

.solid-btn:hover {
  background: var(--bright-red);
}

.filled-solid-btn {
  font-size: inherit;
  padding: 4px 12px 7px 12px;
  text-align: center;
  background: var(--bright-red);
  transition: background ease-in 0.15s;
}

.filled-solid-btn:hover {
  background: var(--dark-red);
}
