.message {
  margin-bottom: 20px;
}

.message-ctx {
  opacity: 0.5;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.replies-container {
  display: flex;
  justify-content: left;
  padding: 5px 0 20px 0;
}

.nesting-bar-container {
  width: 20px;
  margin-right: 20px;
}

.nesting-bar {
  background: var(--main-press);
  width: 2px;
  opacity: 0.5;
  height: 100%;
  transition: background 0.1s ease-in;
}

.nesting-bar-container:hover {
  cursor: pointer;
}

.nesting-bar-container:hover .nesting-bar {
  background: var(--main-color);
}

.replies {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.action-btns button {
  opacity: 0.75;
  font-weight: 600;
  transition: opacity 0.1s ease-in;
}

.action-btns button:hover {
  opacity: 1;
}

/* COLLAPSE STYLES */

.collapsed > .nesting-bar-container {
  height: 5px;
  margin-left: 0;
}

.collapsed .nesting-bar {
  width: 100px;
}

.collapsed > .replies {
  display: none;
}
