.messages-section {
  border: 1px solid var(--red);
  background: var(--main-bg);
  border-radius: 20px;
  max-width: 900px;
  margin: auto;
  margin-top: 50px;
  padding: 10px 15px;
}

.message-list * {
  font-size: 17px;
}
