.create-thread-container {
  margin: auto;
  margin-top: 30px;
  width: 90%;
  max-width: 900px;
  border-radius: 20px;
  border: 2px solid var(--red);
  background: var(--main-bg);
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.tag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}

.form-actions {
  align-items: flex-end;
}
