.message-display textarea {
  margin-left: -4px;
  resize: vertical;
  border: 1px solid var(--main-press);
  padding: 5px;
  width: 99.4%;
  min-height: 350px;
  max-height: 2500px;
  font-size: 17px;
  background: var(--main-bg);
}

.message-display textarea:focus {
  outline: none;
}
