.message-display {
  width: 100%;
  min-height: 241px;
}

.disp {
  margin: auto;
  width: 98%;
}

.message-display textarea {
  margin-left: -3px;
  resize: vertical;
  border: 1px solid var(--main-press);
  width: 100%;
  min-height: 200px;
  max-height: 2500px;
  font-size: 17px;
  background: var(--main-bg);
}

.message-display textarea:focus {
  outline: none;
}
