.markdown-renderer {
  width: 100%;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 17px;
  padding: 2px 0px;
  margin-bottom: 4px;
}

.markdown-renderer pre {
  border-radius: 5px;
  padding: 2px 50px;
  background: var(--main-hover);
  border: 1px solid var(--main-press);
  max-width: 99%;
  word-wrap: normal;
}

.markdown-renderer *:not(pre) code {
  border-radius: 5px;
  padding: 1px 2px;
  background: var(--main-hover);
  border: 1px solid var(--main-press);
  width: fit-content;
}

.markdown-renderer blockquote {
  margin-left: 5px;
  padding-left: 15px;
  border-left: 3px solid var(--main-press);
}

.markdown-renderer h1,
.markdown-renderer h2,
.markdown-renderer h3,
.markdown-renderer h4,
.markdown-renderer h5,
.markdown-renderer h6 {
  font-size: 18px;
}

.markdown-renderer table {
  border: 2px solid var(--main-press);
}

.markdown-renderer td,
.markdown-renderer th {
  padding: 3px;
  border: 1px solid var(--main-press);
}

.markdown-renderer img {
  max-width: 700px;
  max-height: 700px;
}
