.navbar {
  padding: 5px 10px;
  background: var(--main-bg);
  border-bottom: 1px solid var(--bright-red);
}

.navbar-vertical-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
