.navbar {
  z-index: 4;
  padding: 5px 10px;
  background: var(--main-bg);
  border-bottom: 1px solid var(--bright-red);
  position: fixed;
  width: 100%;
  min-height: 47px;
  top: 0;
}

.navbar-vertical-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
