.react-toggle--checked .react-toggle-track {
  background-color: var(--red);
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: transparent;
}

.react-toggle-thumb {
  border-color: transparent;
}

.react-toggle--unchecked .react-toggle-thumb {
  left: 27px;
}

.react-toggle-track {
  background-color: var(--light-coal);
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: var(--dark-red);
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px var(--amber);
  -moz-box-shadow: 0px 0px 3px 2px var(--amber);
  box-shadow: 0px 0px 2px 3px var(--amber);
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px var(--amber);
  -moz-box-shadow: 0px 0px 5px 5px var(--amber);
  box-shadow: 0px 0px 5px 5px var(--amber);
}
