.tiny-txt {
  font-size: 12px !important;
}

.small-txt {
  font-size: 16px;
}
.normal-txt {
  font-size: 20px;
}
.med-txt {
  font-size: 23px;
}
.big-txt {
  font-size: 28px;
}
.bold {
  font-weight: bold;
}

.boldish {
  font-weight: 500;
}

.round {
  border-radius: 5px;
}
.outline {
  outline: 1px solid var(--black);
}
.border {
  border: 1px solid var(--black);
}
.underline {
  text-decoration: underline;
}

.underline-btn {
  padding: 0;
  text-decoration: underline;
  font-weight: 400;
}

.active {
  opacity: 1 !important;
}
